body {
    background-color: #000080;
    margin: 0;
    height: 100vh; /* La page prend toute la hauteur de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pousse le titre en haut et le bouton en bas */
    align-items: center; /* Centre les éléments au milieu */
    padding: 20px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 65px;
    margin-top: 20px;
}

/* Style de ton bouton "Niveau 1" */
div a {
  display: inline-block;
  padding: 30px 45px; /* Taille du bouton */
  background-color: #000050; /* Fond un peu plus sombre */
  color: red; /* Écriture en rouge */
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 25px; /* Taille de l'écriture du bouton */
  border: 3px solid red; /* Bordure rouge */
  text-align: center;
  margin-bottom: 30px; /* Laisse un peu d'espace avec le bas de l'écran */
}

/* Effet quand la souris passe sur le bouton */
div a:hover {
  background-color: red;
  color: #000080; /* Inverse les couleurs au survol */
}
/* Style du bouton Retour à l'accueil */
.bouton-retour {
  display: inline-block;
  padding: 15px 30px; /* Taille de l'intérieur du bouton */
  background-color: #000050; /* Fond sombre */
  color: red; /* Écriture rouge */
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 25px; /* Pour le rendre plus gros */
  border: 3px solid red; /* Bordure rouge */
  margin-top: 50px; /* Pour le pousser plus bas sur la page ! */
  text-align: center;
}

/* Effet au survol avec la souris */
.bouton-retour:hover {
  background-color: red;
  color: #000080;
}
/* Style spécifique pour la page de niveau */
.body-niveau {
    background-color: #000040;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Le grand cadre du jeu (l'arène) */
.zone-jeu {
    position: relative; /* Indispensable pour placer les objets où l'on veut dedans */
    width: 800px;
    height: 450px;
    background-color: #000020;
    border: 4px solid red;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Le ninja (départ en haut à gauche) */
#joueur {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
}

/* Les plateformes */
.plateforme {
    position: absolute;
    background-color: red;
    height: 15px;
    border-radius: 5px;
}

.p1 {
    top: 150px;
    left: 0px;
    width: 300px;
}

.p2 {
    top: 150px;
    left: 370px;
    width: 100px
}

.p3 {
    top: 280px;
    left: 0px;
    whidth: 200
}

.p4 {
    top: 280px;
    left: 325px;
    width: 300px;
}

/* Le coffre */
.coffre {
    position: absolute;
    top: 115px;
    left: 230px;
    font-size: 24px;
}

/* La sortie (en bas à droite) */
.sortie {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 35px;
}
