body {
    background-color: #000080;
    text-align: center;
}
  div a {
  display: inline-block;
  padding: 30px 70px;
  margin: 10px;
  background-color: #000080;
  color: red;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  }
  div a:hover{
    background-color: #001080;
  }
